<h1>Editing Instructor</h1>

<%= render 'form', instructor: @instructor %>

<%= link_to 'Show', @instructor, :class=> "ui tiny olive button" %> |
<%= link_to 'Back', instructors_path, :class=> "ui tiny olive button" %>
