// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main{
    margin-left: 70px;
    position: relative;
}
.logo{
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    margin-top: -300px;
    margin-left: 370px;
}  

.welcome{
    font-family: 'Playfair Display', serif;
    font-size: 42px;
    margin-left: 550px;
}

.card{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    margin-left: 650px;
}